.menu li {
    font-weight: 600;
}

.navbar {
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
}

.active {
    background-color: rgb(201, 198, 198);
}

.btn-register .active {
    background-color: rgb(187, 181, 181);
}

.btn-login .active {
    background-color: rgb(187, 181, 181);
}

.image {
    width: 50%;
}