.menu li {
    font-weight: 600;
}

.navbar {
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
}

#dark .navbar {
    background-color: #ffffff75;
    margin-bottom: 3%;
}

.active {
    background-color: rgb(201, 198, 198);
}

.btn-register .active {
    background-color: rgb(187, 181, 181);
}

.btn-login .active {
    background-color: rgb(187, 181, 181);
}

.image {
    width: 50%;
}

.user-image {
    height: 2rem;
    width: 2rem;
}