.faq-section {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.questions {
    background-color: #115e59b0;
    padding: 23px;
    color: white;
    border-radius: 10px;
    margin-top: 2%;
}

@media screen and (max-width:768px) {
    .faq-section {
        width: 90%;
    }
}

@media screen and (max-width:400px) {
    .questions {
        padding: 12px;
    }
}